/*********************************  Responsive Media ***************************************/
@media (max-width: 768px) {

    .both-header .tophead{
        display: none;
    }
    /* index page */
    section.header .tophead ul {
        gap: 20px;
        justify-content: space-between;
    }

    section.header .tophead ul li {
        gap: 5px;
        font-size: 15px;
    }

    section.header a.navbar-brand img {
        width: 150px;
    }

    section.header a.navbar-brand {
        width: 150px;
        height: 60px;
        left: -10px;
    }

    .header-main {
        /* justify-content: right; */
        padding: 10px 20px 10px 0;
        gap: 300px;
    }

    .both-header .tophead ul li {
        font-size: 14px;
        gap: 5px;
    }

    .both-header .tophead ul {
        justify-content: space-between;
    }

    .both-header a.navbar-brand {
        width: 200px;
        height: 65px;
        left: -18px;
        padding: 10px 5px;
    }

    .both-header a.navbar-brand img {
        width: 160px;
        transform: skew(-20deg);
    }

    .both-header button.signin {
        display: none;
    }

    h2.maintitle {
        font-size: 20px;
    }

    section.banner_slider .banner-text h1 {
        font-size: 40px;
    }

    section.banner_slider .banner-text {
        width: 100%;
        padding: 130px 30px;
    }

    section.banner_slider .bann-slide {
        max-height: 100%;
    }

    section.banner_slider .banner-text:after {
        left: 0;
        width: 100%;
        opacity: 0.6;
        transform: skew(0deg);
        /* filter: blur(0px); */
    }

    /* section.abt-banner .banner-text:after {
        filter: blur(15px) !important;
        opacity: 0.5 !important;
    } */
    section.banner_slider .banner-text p {
        width: 100%;
    }

    section.banner_slider button {
        width: 50% !important;
    }

    section.cards .item {
        margin-bottom: 50px;
    }

    section.service {
        height: 100%;
        margin-top: 0px;
    }

    section.service .service-text {
        padding: 50px 30px;
    }

    section.service .service-text:after {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: skew(0deg);
        opacity: 0.4;
    }

    section.service .service-text .title p {
        width: 100%;
    }

    section.service .container {
        padding: 0;
    }

    section.logo .logo-flex img {
        width: 130px;
    }

    section.blog_slider {
        padding: 0;
    }

    section.blog_slider h4 {
        padding: 50px 0 0 30px;
    }

    section.blog_slider h2 {
        padding-left: 30px;
    }

    section.blog_slider h2 {
        border: unset;
    }
    section.blog_slider button.owl-prev {
        transform: translate(0px, -220px);
    }
    section.blog_slider button.owl-next{
        transform: translate(0px, -220px);
    }
    section.about {
        padding: 30px 0;
    }

    section.secCard .item {
        padding: 30px 20px 0;
    }

    section.secCard .item h3 {
        color: #6FA9CB;
        font-size: 17px;
    }

    section.Network {
        padding-bottom: 50px;
    }

    section.Network .map {
        background-position: 0% 25% !important;
    }

    section.Network .netText {
        padding: 50px 0px 0 0;
    }

    section.Network img {
        transform: unset;
    }

    section.testimonial {
        padding: 50px 0;
    }

    section.testimonial .testi-item {
        gap: 15px;
        padding: 50px 15px;
    }

    section.testimonial .testi-item img {
        width: 100px;
    }

    section.testimonial .owl-dots {
        top: 85%;
        left: 70%;
    }

    section.testimonial .testi-item .test-text p {
        font-size: 13px;
    }

    section.footer .foot-item h3 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    section.footer {
        padding: 50px 0;
    }

    section.copyright .copytext p.compatible {
        gap: 10px;
    }

    section.copyright .copytext p {
        font-size: 10px;
    }

    /*  about page */
    section.abt-banner .container {
        padding: 0;
    }

    section.abt-banner .bann-slide .banner-text {
        padding: 130px 30px;
    }

    section.abt-banner .bann-slide .banner-text button {
        width: 50% !important;
    }

    section.team p.parah {
        width: 100%;
    }

    section.abt-content {
        padding: 50px 0 0 0;
    }

    section.abt-content.pb-5 {
        padding-bottom: 0 !important;
    }

    /*  blog page */
    section.blog {
        padding: 50px 0;
    }

    section.blog .blog-card {
        display: inline-block;
    }

    section.blog .tube-bann svg {
        font-size: 50px;
    }

    section.blog .blog-card img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    section.blog .blog-card .author {
        gap: 10px;
        padding: 0;
    }

    section.blog .blog-card .author p {
        width: 60%;
        font-size: 13px;
    }

    section.blog .blog-card .author img.writer {
        width: 40px !important;
        height: 40px !important;
        border-radius: 50%;
    }

    .blog-paginatn nav ul li a.button {
        padding: 5px 10px;
        gap: 7px;
        font-size: 13px;
    }

    .blog-paginatn nav ul li a.page-link {
        font-size: 14px;
    }

    section.errorpage .bann-slide {
        height: 610px;
    }

    /*  career page */
    section.career {
        padding: 50px 0;
    }

    section.career p.parah {
        width: 100%;
    }

    section.blog-detail .detail-content {
        padding: 50px 30px 0;
    }

    section.blog-detail .detail-content p.secparah {
        padding: 0px 0px 0px 20px;
        margin: 30px 0;
    }

    section.blog-detail .detail-bann {
        padding-top: 0 !important;
    }

    section.career .career-card {
        padding: 30px 20px;
    }

    section.career .career-card ul {
        gap: 20px;
    }

    section.career .career-card ul li {
        font-size: 13px;
    }

    section.career .career-card button {
        padding: 10px 20px;
    }

    /*  job details page */
    .detail-page .heading {
        justify-content: space-between;
        display: block !important;
    }
    .detail-page .heading .left h2 {
        font-size: 20px;
    }
    .detail-page .heading .right{
        padding-top: 30px;
    }
    .detail-page .leftside h2{
        font-size: 20px;
    }
    .detail-page .profile img.logo {
        transform: translate(40px, -40px);
        width: 70px;
        height: 70px;
    }
    .detail-page .heading .right button svg {
        font-size: 13px;
        margin-left: 5px;
    }


    /*  contact us page */
    section.map-location {
        padding-bottom: 0px;
    }

    section.form form .icon {
        transform: translate(330px, -39px);
        color: #FF5E14;
    }



}